.slider-container {
    position: relative;
  

  }
  
  .slider {
    overflow: hidden;
    white-space: nowrap;
    font-size: medium;
    width: 500px;
    margin-left: 450px;
    margin-right: 450px;

  }
  
  .slider img {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-button {
    left:390px;
   
    
  }
  
  .next-button {
    right:420px;
  }
  